.landing-page {
  max-width: 1100px;
  margin: auto;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 26px;
}

.page-header {
  border-bottom: 5px solid red;
  margin-bottom: 100px;

  font-weight: 700;
  .sub-title {
    font-weight: 500;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-tab, .login-tab {
  float: left;
  justify-content: center;
  padding-top: 20px;
}

.features-tab {
  width: 60%;
}

.login-tab {
  width: 40%;
}

#login-button {
  background-color: #ed1c24;
  color: white;
  border: none;
  padding: 20px 29px;
  font-size: 20px;
  transition-duration: 0.2s;
  cursor: pointer;
}


#login-button:hover {
  background-color: #b7161b;
}

.button-disclaimer {
  color: grey;
  font-size: 14px;
}

.page-footer {
  border-top: 3px solid black;
  margin-top: 200px;
}

.footer {
  margin: auto;
}

.footer li {
  list-style: none;
  display: inline-block;
  padding: 10px 0 0 150px;
  text-align: center;
}

.footer li a {
  text-decoration: none;
  color: black;
}
.footer li a:hover {
  color: rgb(124, 122, 122);
}